.genres{
    display: flex;
    gap: 4.5px;

    .genre{
        background-color: var(--pink);
        padding: 3px 5px;
        white-space: nowrap;
        color: white;
        font-size: 14px;
    }
}